<div id="footer">
    <ul class="list-inline pull-left">
        <li>
            &#x00a9; 2014 Company, Inc.
        </li>
        <li>
            <a href="#">Terms of Use</a>
        </li>
        <li>
            <a href="#">Privacy Policy</a>
        </li>
        <li>
            <a href="https://github.com/wtfaremyinitials/hackathon-starter-ejs">GitHub Project</a>
        </li>
        <li>
            <a href="https://github.com/wtfaremyinitials/hackathon-starter-ejs/issues">Issues</a>
        </li>
    </ul>
    <ul class="list-inline pull-right">
    </ul>
</div>
