extends layout

block content
  h1 what2wear
  p.lead
    img(src='../img/logo.png', height='100')
    | Can't decide what to wear in the morning?
    | Choices take a long time.
    br
    | You wear a t-shirt, but it ends up being cold,
    | or you wear shorts, and find out there's an interview.
    br
    br
    | Rid yourself of these awkward moments.
    br
    | Let us give you a good morning,
    | and help you be cool!
