extends layout

block content
  h1 what2wear
  p.lead
    img(src='../img/logo.png', height='100')
    br
    | Can't decide what to wear in the morning?
    | Choices take a long time.
    br
    | You wear a t-shirt, but it ends up being cold,
    | or you wear shorts, and find out there's an interview.
    br
    br
    | Rid yourself of these awkward moments.
    br
    | Let us give you a good morning,
    | and help you be cool!
  br
  br
  br
  br
  h1 here's how you can get started:
  h3 1. Make an account.
  h3 2. Tell us your name, 
    | set up your location,
    | and your preferences for weather.
  h3 For example, you live in 61801,
    | cold weather is below 10 F,
    | chilly weather is between 10 and 35,
  h3 comfortable weather is between 35 and 65,
    | and warm weather is above 65.
  h3 3. Anytime you need a suggestion, ask us what2wear!
    
